<section class="form">
   <div class="layout">
      <div class="form-name">
    <input class="form-first" type="text" placeholder="TITLE" />
    <input class="form-last" type="text" placeholder="PRICE" />
  </div>
  <div class="form-name">
    <input class="form-first" type="text" placeholder="IMAGE" />
    <input class="form-last" type="text" placeholder="CATEGORY" />
  </div>
  <textArea class="form-comment" placeholder="DESCRIPTION"></textArea>
  <button class="form-submit">SUBMIT</button>
   </div>
  
</section>
<script></script>
