<div class="my-app">
  <main>
    <!-- Begin content header -->
    <section class="my-app__header">
      <div class="container">
        <div class="my-app__header-inner">
          <div class="my-app__header-text media">
            <i class="fa-solid fa-circle-user"></i>
            <div class="media-body">
              <h1 class="my-app__header-title">
                Hi, {{ profileUser.username }}!
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End content header -->

    <!-- Begin content body -->
    <section class="my-app__body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <!-- Begin Payment Balance card -->
            <div class="my-card card">
              <div class="my-card__header card-header">
                <div class="my-card__header-title">
                  <div class="my-text-overline">Apps you created</div>

                  <ul>
                    <li *ngFor="let app of profileUser.appsCreated">
                      {{ app }}
                    </li>
                  </ul>
                </div>
                <!-- !<h1 class="my-card__header-link">
                  {{ profileUser.appsCreated.length }}
                </h1> -->
              </div>
            </div>
            <!-- End Payment Balance card -->

            <!-- Begin Bank Accounts card -->
            <div class="my-card card">
              <div class="my-card__body card-body">
                <div class="my-text-overline">Bought and liked apps</div>

                <ul class="my-list my-list--simple list-inline mb-0">
                  <div class="numberOfBA">
                    <h5>Bought apps</h5>
                    <!--! <p>{{ profileUser.appsBought.length }}</p> -->
                  </div>

                  <ul>
                    <li *ngFor="let app of profileUser.appsBought">
                      {{ app }}
                    </li>
                  </ul>

                  <hr class="my-divider" />

                  <div class="numberOfBA">
                    <h5>Liked apps</h5>
                    <!--! <p>{{ profileUser.appsLiked.length }}</p> -->
                  </div>

                  <ul>
                    <li *ngFor="let app of profileUser.appsLiked">
                      {{ app }}
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
            <!-- End Bank Accounts card -->
          </div>

          <form
            class="col-8"
            #profileEditForm="ngForm"
            (ngSubmit)="profileEdit(profileEditForm)"
          >
            <div class="my-alert alert alert-info">
              <button>Save</button>
              <span class="my-alert__text">
                Your latest activity is shown here. Make changes to your
                profile.
              </span>
            </div>

            <!-- Begin Pending card -->
            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">
                  Personal Information
                </h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Username</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      name="username"
                      #usernameInput="ngModel"
                      [value]=" profileUser.username"
                      ngModel
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">First Name</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      name="firstName"
                      #firstNameInput="ngModel"
                      [value]="profileUser.firstName"
                      ngModel
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Last Name</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                     
                       name="lastName"
                       #lastNameInput="ngModel"
                      [ngModel]="profileUser.lastName"
                      ngModel
                    />
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Pending card -->

            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">
                  Contact Information
                </h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Email</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      
                       name="email"
                       #emailInput="ngModel"
                      [ngModel]="profileUser.email"
                      ngModel
                    
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Phone Number</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      
                       name="phoneNumber"
                       #phoneNumberInput="ngModel"
                      [ngModel]="profileUser.phoneNumber"
                      ngModel
                    />
                  </div>
                </li>
              </ul>
            </div>
            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">Address</h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Country</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                   
                        
                       name="country"
                       #countryInput="ngModel"
                      [ngModel]="profileUser.country"
                      ngModel
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">City</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                    

                      name="city"
                       #cityInput="ngModel"
                      [ngModel]="profileUser.city"
                      ngModel
                    />
                  </div>
                </li>
              </ul>
            </div>

            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">About Me</h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <textarea      name="aboutMe"
                       #aboutMeInput="ngModel"
                      [ngModel]="profileUser.aboutMe"
                      ngModel class="my-list-item__date-day"></textarea>
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Completed card -->
          </form>
        </div>
      </div>
    </section>
    <!-- End content body -->
  </main>
</div>
