<div class="details-container">
  <div class="content">
    <div class="category">
      <p>{{ app.category }}</p>
    </div>
    <div class="heading">
      <h1>{{ app.title }}</h1>
      <h1>${{ app.price }}</h1>
    </div>
    <div class="text">
      <p>{{ app.description }}</p>
    </div>
    <div class="media">
      <img src="{{ app.imgUrl }}" alt="" />
    </div>
    <div class="button">
      <button>BUY</button>
      <button>Edit</button>
    </div>
    <div class="interactions"></div>
  </div>
</div>
