<div    class="details-container">
  <div class="content">
    <div class="category">
      <p>{{ app.category }}</p>
    </div>
    <div class="heading">
      <h1>{{ app.title }}</h1>
      <h1>${{ app.price }}</h1>
    </div>
    <div class="text">
      <p>{{ app.description }}</p>
      <p>Last updated on: {{ app.posted_at }}</p>
    </div>
    <p>Creator: {{app.creator}}</p>
    <div class="media">
      <img src="{{ app.imgUrl }}" alt="" />
    </div>
    <div class="bottom-layout">
      <div class="buttons">
         <button *ngIf="currentUser !== app.creator" >BUY</button>
      <button *ngIf="currentUser == app.creator" [routerLink]="'/app-finder/edit/'+app._id" >Edit</button>
      <button *ngIf="currentUser== app.creator" (click)="deleteApp()" [routerLink]="'/app-finder/delete/'+app._id" >Delete</button>
      </div>
     
      <div  *ngIf="app.likedBy.includes(userEmail)" class="heart">
      
         <div class="likeGroup" (click)="addLike()">
          <p class="likeCount" >{{app.likes}} </p> 
          <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
        </div>
      </div>
      <div *ngIf="!app.likedBy.includes(userEmail)">
            <div   class="likeGroup" (click)="addLike()"> 
              <p class="likeCount">{{app.likes}} </p> 
              <i class="fa-regular fa-heart"></i>
            </div>
      </div>
       
    </div>
    <div class="interactions"></div>
  </div>
</div>
