
<section class="site-section services">
    <div class="container">

        <div class="service-card">
           
           
            <div class="service-text">
                 <h4>Customer Service Chatbot</h4>
                 <i class="fa-regular fa-comments fa-2xl" style="color: #FFD43B;"></i>
            <p>Answer your customer's question 24/7, with no dalay</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>

        <div class="service-card">
            <div class="service-media">
                <img src="" alt="">
            </div>
            <div class="service-text">
                 <h4>Employee Training Chatbot</h4>
                 <i class="fa-regular fa-file fa-2xl" style="color: #FFD43B;"></i>
            <p>Boost your new employee training with easy answer documents chatbot</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>


        <div class="service-card">
            
            <div class="service-text">
                 <h4>Cusomer Onboarding Chatbot</h4>
                 <i class="fa-regular fa-user fa-2xl" style="color: #FFD43B;"></i>
            <p>Oboard your customers with no pain or need for hour long meetings</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>

    </div>

</section>