
<section class="site-section services">
    <div class="container">

        <div class="service-card">
           
           
            <div class="service-text">
                 <h4>Apps discussions</h4>
                 <i class="fa-regular fa-comments fa-2xl" style="color: #FFD43B;"></i>
            <p>Talk with people for the newst apps</p>
            <button [routerLink]="['/services/customersupportchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>

        <div class="service-card">
            <div class="service-media">
                <img src="" alt="">
            </div>
            <div class="service-text">
                 <h4>Post your apps</h4>
                 <i class="fa-regular fa-file fa-2xl" style="color: #FFD43B;"></i>
            <p>Start your carrier as app developer</p>
            <button [routerLink]="['/services/employeetrainingchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>


        <div class="service-card">
            
            <div class="service-text">
                 <h4>Find Apps</h4>
                 <i class="fa-regular fa-user fa-2xl" style="color: #FFD43B;"></i>
            <p>Find the best offers</p>
            <button [routerLink]="['/services/customeronboardingchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>

    </div>

</section>





<!-- 
<section class="site-section services">
    <div class="container">

        <div class="service-card">
           
           
            <div class="service-text">
                 <h4>Customer Support Chatbot</h4>
                 <i class="fa-regular fa-comments fa-2xl" style="color: #FFD43B;"></i>
            <p>Answer your customer's question 24/7, with no dalay</p>
            <button [routerLink]="['/services/customersupportchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>

        <div class="service-card">
            <div class="service-media">
                <img src="" alt="">
            </div>
            <div class="service-text">
                 <h4>Employee Training Chatbot</h4>
                 <i class="fa-regular fa-file fa-2xl" style="color: #FFD43B;"></i>
            <p>Boost your new employee training with easy answer documents chatbot</p>
            <button [routerLink]="['/services/employeetrainingchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>


        <div class="service-card">
            
            <div class="service-text">
                 <h4>Cusomer Onboarding Chatbot</h4>
                 <i class="fa-regular fa-user fa-2xl" style="color: #FFD43B;"></i>
            <p>Oboard your customers with no pain or need for hour long meetings</p>
            <button [routerLink]="['/services/customeronboardingchatbot']" class="service-button">More Info</button>
            </div>
           

        </div>

    </div>

</section> -->