<header>
    <div class="site-title">
        <a href="#">reCaptcha</a>
        <a href="#">lyst.com</a>
      </div>
    <nav class="navigation">
        <ul>
            <li class="nav-item"><a routerLink="/" >Home</a></li>



            <!-- <ng-template #loggedOutTemplate>
              <li class="nav-item"> <a routerLink="/create-app">Post App</a></li>
            </ng-template> -->
            <li class="nav-item"> <a routerLink="/create-app">Post App</a></li>



            <li  class="nav-item"><a routerLink="/services">Services</a></li>
              
            <li class="nav-item"> <a routerLink="/app-finder">App Finder</a></li>
            <li class="nav-item"><a routerLink="/about">About</a></li>



            <!-- <ng-template #loggedOutTemplate>
              <li class="nav-item"><a routerLink="/login">LogIn</a></li>
            </ng-template> -->
            <li class="nav-item"><a routerLink="/login">LogIn</a></li>


            <!-- <ng-template #loggedInTemplate>
 <li class="nav-item"><a routerLink="/logout">Logout</a></li>
            <li class="nav-item"><a routerLink="/profile">{{user?.username}}'s Profile</a></li>
            </ng-template> -->
            <li class="nav-item"><a routerLink="/logout">Logout</a></li>
            <li class="nav-item"><a routerLink="/profile">{{user?.username}}'s Profile</a></li>


            
           

            <!-- <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container> -->
        </ul>
    </nav>
</header>