<header>
    <div class="site-title">
        <a href="#">reCaptcha</a>
        <a href="#">lyst.com</a>
      </div>
    <nav class="navigation">
        <ul>
            <li class="nav-item"><a routerLink="/" >Home</a></li>


            <!-- !BACA -->
           <ng-template #loggedInTemplate>
              <li class="nav-item"> <a routerLink="/post-app/create-app">Post App</a></li>
                     <li class="nav-item"><a routerLink="/user/logout">Logout</a></li>
                  <li class="nav-item"><a routerLink="/user/profile">{{user?.username}}'s Profile</a></li>
            </ng-template> 

            
            <!-- !BACA -->
            <li  class="nav-item"><a routerLink="/services">Services</a></li>


            <!-- !BACA -->
            <li class="nav-item"> <a routerLink="/app-finder/app-finder">App Finder</a></li>
            <li class="nav-item"><a routerLink="/about">About</a></li> 


            <!-- !BACA -->
           <ng-template #loggedOutTemplate>
              <li class="nav-item"><a routerLink="/user/login">LogIn</a></li>
            </ng-template>  

             
  
           <ng-template #loggedInTemplate>
            
            </ng-template> 


      
          

               <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>

            <!-- <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container> -->
        </ul>
    </nav>
</header>