<div class="my-app">
  <main>
    <!-- Begin content header -->
    <section class="my-app__header">
      <div class="container">
        <div class="my-app__header-inner">
          <div class="my-app__header-text media">
            <i class="fa-solid fa-circle-user"></i>
            <div class="media-body">
              <h1 class="my-app__header-title">
                Hi, {{ profileUser.username }}!
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End content header -->

    <!-- Begin content body -->
    <section class="my-app__body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <!-- Begin Payment Balance card -->
            <div class="my-card card">
              <div class="my-card__header card-header">
                <div class="my-card__header-title">
                  <div class="my-text-overline">Apps you created</div>
                  <h3 class="my-text-headline">$52,100.00</h3>
                </div>
                <a class="my-card__header-link" href="#">Details →</a>
              </div>
              <div class="my-card__body card-body">
                <div class="my-text-overline">Available Currencies</div>
                <dl class="my-list my-list--definitions my-dl">
                  <dt>US Dollars</dt>
                  <dd>32,220.00 USD</dd>
                  <dt>British Pounds</dt>
                  <dd>8,560.00 GBP</dd>
                  <dt>Czech Koruna</dt>
                  <dd>98,444.00 CZK</dd>
                </dl>
                <hr class="my-divider" />
                <ul class="my-list my-list--simple list-inline mb-0">
                  <li><a href="#">Add Money →</a></li>
                  <li><a href="#">Top Up →</a></li>
                  <li><a href="#">Add funds using PayBuddy →</a></li>
                  <li><a href="#">Withdraw funds →</a></li>
                </ul>
              </div>
            </div>
            <!-- End Payment Balance card -->

            <!-- Begin Bank Accounts card -->
            <div class="my-card card">
              <div class="my-card__body card-body">
                <div class="my-text-overline">Boudghet and liked apps</div>
                
                <ul class="my-list my-list--simple list-inline mb-0">
                  <li class="my-list-item">
                    <h5>Boudghe apps: number of apps</h5>
                    <ul>
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                    </ul>
                   
                  </li>




                     <hr class="my-divider" />



                  <li class="my-list-item">
                    <!-- <h5>Liked apps: {{profileUser.appsLiked.length}}</h5> -->
                    <h5>Liked apps: # of liked apps</h5>
                    <ul>
                      <li>
                       use ngFor to display liked apps
                      </li>
                    </ul>
                  </li>
                </ul>
             
                
              </div>
            </div>
            <!-- End Bank Accounts card -->
          </div>

          <div class="col-8">
            <div class="my-alert alert alert-info">
              <img class="my-alert__icon" src="./images/icon-alert.svg" alt />
              <span class="my-alert__text">
                Your latest activity is shown here. Make changes to your
                profile.
              </span>
            </div>

            <!-- Begin Pending card -->
            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">
                  Personal Information
                </h3>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Username</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      placeholder=" {{ profileUser.username }}"
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">First Name</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      placeholder=" {{ profileUser.firstName }}"
                    />
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">Last Name</span>
                  </div>
                  <div class="my-list-item__text">
                    <input
                      class="my-list-item__text-title"
                      placeholder=" {{ profileUser.lastName }}"
                    />
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Pending card -->

            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">
                  Contact Information
                </h3>
                <a class="my-card__header-link" href="#">See all →</a>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Bank of America</h4>
                    <p class="my-list-item__text-description">
                      Withdraw to bank account
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Bank of America</h4>
                    <p class="my-list-item__text-description">
                      Withdraw to bank account
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Bank of America</h4>
                    <p class="my-list-item__text-description">
                      Withdraw to bank account
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Begin Completed card -->
            <div class="my-card card">
              <div class="my-card__header card-header">
                <h3 class="my-card__header-title card-title">Address</h3>
                <a class="my-card__header-link" href="#">See all →</a>
              </div>
              <ul class="my-list list-group list-group-flush">
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Gumroad, Inc</h4>
                    <p class="my-list-item__text-description">
                      Withdraw to bank account
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Spotify Limited</h4>
                    <p class="my-list-item__text-description">
                      Preapproved Payment
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
                <li class="my-list-item list-group-item">
                  <div class="my-list-item__date">
                    <span class="my-list-item__date-day">28</span>
                    <span class="my-list-item__date-month">jul</span>
                  </div>
                  <div class="my-list-item__text">
                    <h4 class="my-list-item__text-title">Bank of America</h4>
                    <p class="my-list-item__text-description">
                      Withdraw to bank account
                    </p>
                  </div>
                  <div class="my-list-item__fee">
                    <span class="my-list-item__fee-delta">+250.00</span>
                    <span class="my-list-item__fee-currency">USD</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Completed card -->
          </div>
        </div>
      </div>
    </section>
    <!-- End content body -->
  </main>
</div>
