<section class="site-section heading">

    <div class="container heading-container">
         <div class="heading-text">

    <h1>Alyst.com</h1>
    <p>Automate your business with AI</p>

  </div>

  <div class="heading-media">

    <img src="../../../assets/images/123.jpeg" alt="" />

  </div>
    </div>
 

</section>





<section class="site-section offer-section primary-color">
    <div class="offer">
        <div class="offer-text">

        <p>Our goal is to help you automate your business. 
         Increase your profitability.
         Integrate AI in your workday.
         
        </p>
     
       </div>
  <div class="offer-heading">

    <h3>Our Work</h3>

  </div>
    </div>
    
  
</section>


<section class="site-section services">
    <div class="container">

        <div class="service-card">
           
           
            <div class="service-text">
                 <h4>Customer Service Chatbot</h4>
                 <i class="fa-regular fa-comments fa-2xl" style="color: #FFD43B;"></i>
            <p>Answer your customer's question 24/7, with no dalay</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>

        <div class="service-card">
            <div class="service-media">
                <img src="" alt="">
            </div>
            <div class="service-text">
                 <h4>Employee Training Chatbot</h4>
                 <i class="fa-regular fa-file fa-2xl" style="color: #FFD43B;"></i>
            <p>Boost your new employee training with easy answer documents chatbot</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>


        <div class="service-card">
            
            <div class="service-text">
                 <h4>Cusomer Onboarding Chatbot</h4>
                 <i class="fa-regular fa-user fa-2xl" style="color: #FFD43B;"></i>
            <p>Oboard your customers with no pain or need for hour long meetings</p>
            <button class="service-button">More Info</button>
            </div>
           

        </div>

    </div>

</section>


<section class="site-section testemenial">
<app-testemonials/>
</section>



<section>

</section>

<section class="site-section calendar">
<h1>book a meeting</h1>
</section>

<section class="site-section FAQ primary-color">
<app-faqs/>
</section>