<section class="site-section heading">

    <div class="container heading-container">
         <div class="heading-text">

    <h1>Alyst.com</h1>
    <p>Automate your business with AI.

    </p>

  </div>

  <div class="heading-media">

    <img src="../../../assets/images/123.jpeg" alt="" />

  </div>
    </div>
 

</section>





<section class="site-section offer-section primary-color">
    <div class="offer">
        <div class="offer-text">

        <p>Our goal is to help you automate your business. 
         Increase your profitability.
         Integrate AI in your workday.
         
        </p>
     
       </div>
  <div class="offer-heading">

    <h3>The Mission</h3>

  </div>
    </div>
    
  
</section>



<app-alyst-services/>

<section class=" testemenial">
<app-testemonials/>
</section>



<section>

</section>

<app-book-a-call/>

<section class="site-section FAQ primary-color">
<app-faqs/>
</section>