
<section class="service-heading">
  <div class="service-heading-container">
    <div class="service-heading-text">
  <h1>Customer Onboarding</h1>
  <h5>Get your chatbot </h5>
  <p>Increase your productivity</p>
  <button>Book a call</button>      
    </div>
    <div class="service-heading-background-media-container">
      <div class="service-media">
        <img src="../../../assets/images/hero-img.svg" alt="">
   
      </div>
    </div>
  </div>
</section>










<section class="results">
  <div class="result-container">
    <div class="result-container-card">
      <i class="fa-solid fa-chart-line fa-2xl" style="color: #ffd43b"></i>
      <div class="result-text">
        <h2>50%</h2>
        <p>
          We Offers Guaranteed Top 10 SEO Ranking On Your 50% Targeting Keywords
          Organically.
        </p>
      </div>
    </div>

    <div class="result-container-card">
      <i class="fa-solid fa-certificate fa-2xl" style="color: #ffd43b"></i>
      <div class="result-text">
        <h2>100%</h2>
        <p>
          We Offers Guaranteed Top 10 SEO Ranking On Your 50% Targeting Keywords
          Organically.
        </p>
      </div>
    </div>

    <div class="result-container-card">
      <i class="fa-solid fa-computer fa-2xl" style="color: #ffd43b"></i>
      <div class="result-text">
        <h2>50%</h2>
        <p>
          We Offers Guaranteed Top 10 SEO Ranking On Your 50% Targeting Keywords
          Organically.
        </p>
      </div>
    </div>

    <div class="result-container-card">
      <i class="fa-solid fa-chart-line fa-2xl" style="color: #ffd43b"></i>
      <div class="result-text">
        <h2>50%</h2>
        <p>
          We Offers Guaranteed Top 10 SEO Ranking On Your 50% Targeting Keywords
          Organically.
        </p>
      </div>
    </div>
  </div>
</section>











<section class="how-it-works primary-color">
   <div class="how-container">
      <div class="how-text">
         <h4>Work Process</h4>
         <h1>How to work it</h1>
         <p>cidunt eget semper nec quam. Sed hendrerit. acfelis Nunc egestas augue atpellentesque laoreet</p>      
      </div>
      <div class="how-cards">
         <div class="how-card">
           <i class="fa-solid fa-1 fa-2xl"></i>
            <h3>Select a project</h3>
            <p>We do the works from here</p>
</div>
            

 <div class="how-card">
           <i class="fa-solid fa-2 fa-2xl"></i>
            <h3>Select a project</h3>
            <p>We do the works from here</p>
</div>


 <div class="how-card">
          <i class="fa-solid fa-3 fa-2xl"></i>
            <h3>Select a project</h3>
            <p>We do the works from here</p>
</div>


 <div class="how-card">
           <i class="fa-solid fa-4 fa-2xl"></i>
            <h3>Select a project</h3>
            <p>We do the works from here</p>
</div>
         
      </div>
   </div>
</section>




<section class="what-offering">
   <div class="what-offering-counter">
      <div class="what-offering-text">
         <h4>What we are offering</h4>
         <h1>Why you Shoud Use Employee Training Chatbot</h1>
         <div class="what-offering-list">
             <p>We offers a full-cycle software development services that meet varied business requirements to help improve business performance of enterprises.We offers a full-cycle software development services that meet varied business.We offers a full-cycle software development We offers a full-cycle software development services.</p>

             <ul><li>Take a professional approach</li>
            <li>Provide unhindered support 24/7</li>
         <li>
Offer full-cycle IT services</li>
      <li>We take our job seriously</li>
   <li>
Our team is qualified</li></ul>
         </div>
        
      </div>
      <div class="what-offering-media">
         <img src="../../../assets/images/why_choose_us.jpg" alt="">
      </div>
   </div>
</section>















<app-book-a-call/>