



@media(min-width:800px){
  .meeting{
  display: flex;
  justify-content:center;
  margin: 8em 0;
}

.meeting .meeting-container{
  display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3em 0;
 width: 50em;
 flex-shrink: 1;

 border-radius:1em;
box-shadow: rgba(50, 50, 93, 0.60) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;

}

.meeting .meeting-container h1{
  font-size:2.6em;
  font-weight:bold;
  padding-bottom: 0.2em;
}

.meeting .meeting-container p
{
  padding-bottom: 3em;
}


.meeting .meeting-container a {
	color: #18272F;
    font-size: 1.8em;
  position: relative;
  text-decoration: none;
}

.meeting .meeting-container a::before {
margin: 0 0 -0.6em 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.meeting .meeting-container a:hover::before {
  margin-top: 12em;
  transform-origin: left;
  transform: scaleX(1);
}

}

@media(max-width:800px){
    .meeting{
  display: flex;
  justify-content:center;
  margin: 4em 0;
}

.meeting .meeting-container{
  display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3em 0;
 width: 30em;
 flex-shrink: 1;

 border-radius:1em;
box-shadow: rgba(50, 50, 93, 0.60) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;

}

.meeting .meeting-container h1{
  font-size:1.8em;
  font-weight:bold;
  padding-bottom: 0.2em;
}

.meeting .meeting-container p
{
  padding-bottom: 1.6em;
}


.meeting .meeting-container a {
	color: #18272F;
    font-size: 1em;
  position: relative;
  text-decoration: none;
}

.meeting .meeting-container a::before {
margin: 0 0 -0.4em 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.meeting .meeting-container a:hover::before {
  margin-top: 12em;
  transform-origin: left;
  transform: scaleX(1);
}
}