/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font: 14px/1.5 "Inter", sans-serif;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .site-section{
    padding: 2em;
  }
  .primary-color{
    background-color: #ffbd4a;
  }

button{
  background-color: #ffbd4a;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  padding: 1.2em 2.8em;
  border-radius: 1em;
}