<div class="details-container">
  <div class="content">
    <div class="category">
      <p>{{ app.category }}</p>
    </div>
    <div class="heading">
      <h1>{{ app.title }}</h1>
      <h1>${{ app.price }}</h1>
    </div>
    <div class="text">
      <p>{{ app.description }}</p>
      <p>Last updated on: {{ app.posted_at }}</p>
    </div>
    <p>Creator: {{ app.creator }}</p>
    <div class="media">
      <img src="{{ app.imgUrl }}" alt="" />
    </div>
    <div class="bottom-layout">


      <div class="buttons">
       
        <button
          *ngIf=" !boughtApp && logedUser && currentUser !== app.creator"
          (click)="buy()"
        >
          BUY
        </button>
      
         <ng-container *ngIf="boughtApp"> You Bought this app </ng-container>

        <button
          *ngIf="currentUser== app.creator"
          [routerLink]="'/app-finder/app-finder/edit/' + app._id"
        >
          Edit
        </button>
        <button
          *ngIf="currentUser == app.creator"
          (click)="deleteApp()"
          [routerLink]="'/app-finder/app-finder/delete/' + app._id"
        >
          Delete
        </button>
      </div>



      <ng-container *ngIf="logedUser">
        <div class="all-like">
          <div class="all-like-num">
    <p *ngIf="!liked" class="likeCount">{{ numberOfLikes }}</p>
          <p *ngIf="liked" class="likeCount">{{ numberOfLikes }}</p>
          </div>
      <div class="all-like-hearth">
         <i *ngIf="!liked" (click)="addLike()" class="fa-regular fa-heart"></i>
          <!-- <i *ngIf="liked" (click)="subtractLike()" class="fa-solid fa-heart" style="color: #ff0000;"></i> -->
          <i *ngIf="liked" class="fa-solid fa-heart" style="color: #ff0000;"></i>
      </div>
         
        </div>
      </ng-container>
    </div>
    <div class="interactions"></div>
  </div>
</div>
