<section class="our-services-heading">
   <div class="our-services-heading-container">
      <h1>OUR SERVICES</h1>
   </div>
</section>

<app-alyst-services/>








<section class="double">


    <div class="s-top">
        <div class="s-top-container">
            <div class="text">
                <h2>Own Your Investing Future</h2>
                <p>Knowledge is power. So work on your investing plan with a SmartVestor Pro who will help you navigate the ups and downs of the market. Find one near you for free.</p>
                <button>Start with a pro</button>
            </div>

            <div class="media">
                <img src="../../../assets/images/feature-image.png" alt="">
            </div>
        </div>
    </div>


    <div class="s-bottom">
        <div class="s-b-container">
            <div class="media">
                <img src="../../../assets/images/feature-image (1).png" alt="">
            </div>
            <div class="text">
                <h2>Experts You Can Trust</h2>
                <p>Excellent service isn’t just an expectation. It’s a promise. Connect with the only pros and providers we train and trust to serve you the Ramsey way.</p>
                <ul><li>Real Estate</li>
                <li>Insurance</li>
            <li>Taz Services</li>
        <li>Long term care</li></ul>
        <button>Find a pro</button>
            </div>
        </div>
    </div>


</section>




<app-testemonials/>