@media(min-width: 1200px) {
   
.our-services-heading .our-services-heading-container{
   background-image: url('../../../assets/images/shutterstock_1091189819-1-scaled-2559x853.jpg');
height:45vh;
color:rgb(255, 255, 255);
display: flex;
justify-content: center;
background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8),
                       rgba(0, 0, 0, 0.3)), url("../../../assets/images/shutterstock_1091189819-1-scaled-2559x853.jpg")

}

.our-services-heading .our-services-heading-container h1{
 font-weight: 900;
    font-size: 4.8em;
}
}














@media (min-width: 1200px) {
  .double {
    background-color: #f5f7f8;
    display: flex;
    flex-direction: column;
    gap: 10em;
    margin: 8em 0;
        padding: 10em 0;
  }
  .double .s-top .s-top-container,
  .double .s-bottom .s-b-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .double .s-top .s-top-container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 34em;
  }

  .double .s-top .s-top-container .text h2,
  .double .s-bottom .s-b-container .text h2 {
    font-size: 2.8em;
    font-weight: 800;
  }
  .double .s-top .s-top-container .text p,
  .double .s-bottom .s-b-container .text p {
    font-size: 1.2em;
    padding-bottom: 1em;
  }

  .double .s-top .s-top-container .text button,
  .double .s-bottom .s-b-container .text button {
    width: fit-content;
  }

  .double .s-bottom .s-b-container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40em;
  }

  .double .s-bottom .s-b-container .text ul{
   font-size: 1.8em;
   line-height: 1.5;
   margin-left: 1em;
   margin-bottom: 1em;
  }

}



@media(max-width:1199px) {
   .double {
      background-color: #f5f7f8;
    display: flex;
    flex-direction: column;
    gap: 6em;
    margin: 4em 0;
        padding: 6em 0;
  }
  .double .s-top .s-top-container,
  .double .s-bottom .s-b-container {
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 1.4em;
  }

  .double .s-top .s-top-container .text,
   .double .s-bottom .s-b-container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 42em;
    align-items: center;
  }

  .double .s-top .s-top-container .text h2,
  .double .s-bottom .s-b-container .text h2 {
    font-size: 2.2em;
    font-weight: 800;
  }
  .double .s-top .s-top-container .text p,
  .double .s-bottom .s-b-container .text p {
    font-size: 1em;
    padding-bottom: 0.6em;
    text-align: center;
  }

  .double .s-top .s-top-container .text button,
  .double .s-bottom .s-b-container .text button {
    width: fit-content;
  }

  

  .double .s-bottom .s-b-container .text ul{
   font-size: 1.2em;
   line-height: 1.2;
   margin-left: 1em;
   margin-bottom: 1em;
  }
}